@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Oswald&family=Roboto+Condensed&display=swap');

#cardm{
    width: 60% ;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
    background-color: transparent;
    backdrop-filter: blur(3px);
}
#cardimg{
    width: 30vh;
    height: 30vh;
    object-fit: cover;
    margin: auto;
}
#cardtitle1{
    font-size: 1.25rem;
    font-family: 'Alegreya Sans';
    text-align: center;
}
#sform:focus{
    box-shadow: none;
    border: none;
    outline: none;
}